body {
	padding-bottom: 3%;
	background-color: #eee;
	
}
.list {
	width: 30%;
	margin: 0 auto;
	padding: 3% 4%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(213,213,213,1);
	   -moz-box-shadow: 0px 0px 5px 0px rgba(213,213,213,1);
	        box-shadow: 0px 0px 5px 0px rgba(213,213,213,1);
	background-color: white;
	font-size: 16px;
}
.central-info {
	text-align: center;
}
.info-block {
	padding-left: 3%;
	padding-right: 3%;
}
h1 {
	font-size: 20px;
}
img {
	height: 30%;
	width: 30%;
}